/**
 * Default Look and Feel
 */
.alertify,
.alertify-log {
    font-family: sans-serif;
}

.alertify {
    background: #FFF;
    border: 1px solid #d4d4d4; /* browsers that don't support rgba */
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
    -webkit-background-clip: padding; /* Safari 4? Chrome 6? */
    -moz-background-clip: padding; /* Firefox 3.6 */
    background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}

.alertify-text {
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 4px;
}

.alertify-button {
}


.alertify-button-cancel {
    background: none repeat scroll 0 0 #C23838;
    border: 1px solid #C23838;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
}

.alertify-button-cancel:hover {
        border: 1px solid #C23838;
        color: #C23838;
        background: none;
    }

.alertify-button-ok {
    background: none repeat scroll 0 0 #48d288;
    border: 1px solid #4cae4c;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
}

.alertify-button-ok:hover {
        border: 1px solid #36BE74;
        color: #36BE74;
        background: none;
    }

.alertify-log {
    background: #1F1F1F;
    background: rgba(0,0,0,.9);
    padding: 15px;
    border-radius: 4px;
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(0,0,0,.5);
}

.alertify-log-error {
    background: #FE1A00;
    background: rgba(254,26,0,.9);
}

.alertify-log-success {
    background: #5CB811;
    background: rgba(92,184,17,.9);
}
